html{
  font-size: 18px;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

body{
  font-family: Helvetica;
}
/*header*/
.logo-header{
  background-color: black;
  color: white;
}

header{
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

header img{
  height: 1.5rem;
  padding-right: 1rem;
}

/*banner*/
h1,
h4{
  font-weight: bold;
}

h4{
  font-size: 1rem;
}

h1{
  font-size: 2rem;
  margin: 0.25rem 0;
}

.banner{
  background-image: url(../images/moto.jpeg);
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-text{
  background-color: black;
  color: white;
  width: 20rem;
  top: 9rem;
  position: relative;
  padding: 2rem 3rem;
}

@media only screen and (max-width: 470px) {
  h4{
    font-size: 0.77rem;
  }

  h1{
    font-size: 1rem;
  }

  .banner-text{
    padding: 1rem 2rem;
    top: 10rem;
    width: 100%;
  }

  .banner{
    height: 15rem;
  }
}

/*site nav*/
.nav-container{
  background-color: firebrick;
  padding: 0.75rem 0;
}

a{
  color: white;
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: space-between;
}

.mobile-nav{
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav{
    display: none;
  }

  .mobile-nav{
    display: block;
    text-align: center;
  }
}

/*Products*/
.products{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.item{
  width: 30%;
}

.product-img{
  display: flex;
  border: 4px solid black;
  padding: 2rem 0;
  justify-content: center;
  height: 9rem;
}

.product-img img{
  max-width: 8rem;
}

.description{
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}

@media only screen and (max-width: 1024px) {
  .item{
    width: 47%;
  }

  .glasses{
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .watch{
    display: none;
  }

  .item{
    width: 90%;
    margin: auto;
  }
}

/*store info*/
.store-info{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.title{
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

.info{
  width: 35%;
}

@media only screen and (max-width: 470px){
  .store-info{
    display: block;
  }

  .info{
    width: 90%;
    margin: auto;
  }

  .title{
    margin-top: 0.5rem;
  }
}
/*Copyright*/
footer{
  background-color: black;
  color: white;
  padding: 5rem 0;
  margin-top: 4rem;
}

@media only screen and (max-width: 470px){
  footer{
    text-align: center;
  }
}
